/*                                            */
/*       Notepad application                  */
/*                                            */
/*   Copyright (C) 1984-2001  Microsoft Inc.  */
/*                                            */

#include "notepad.h"
//#include <winver.h>
#define GRP      WS_GROUP
#define TAB      WS_TABSTOP
#define TABGRP   WS_TABSTOP | WS_GROUP
#define DLGMODAL WS_POPUP | WS_DLGFRAME

/* Version Stamping */
// FILEVERSION history:
// (undefined)-> pre-release version only including win7 features
// 1, 1, 0, 0 -> First NotepadEx version
// 1, 1, 1, 0 -> restore WinXP compatibility
// 1, 1, 2, 0 -> restore "View Help" button functionality on XP
//
// 1, 1, 3, 0 -> statically link MSVCR100.DLL - more suitable for system NP replacement
//               bug fix for handling non-ASCII characters in Unix line ending files
//
// 1, 1, 4, 0 -> bug fix for handling files with more carriage returns than line feeds
// 1, 2, 0, 0 -> remove CRT dependency and add Windows 2000 support
// 1, 2, 1, 0 -> add configuration option to change tab width
//
// 1, 2, 2, 0 -> add Ctrl+Backspace support, reduce edit control flicker on XP+,
//               add dirty indicator in title bar, changed selection line/column display,
//				 remove "Bush hid the facts" bug,
//				 add Ctrl+Shift+S shortcut for Save As
//
// 1, 3, 0, 0 -> fix a minor bug in Ctrl+Backspace support.
//               eliminate flicker during Ctrl+Backspace operation.
//               add support for "Find Previous" menu item (Shift+F3).
//				 add support for "Whole word only" in find/replace.
//				 add support for "Wrap around" in find/replace.
//               allow word wrap together with status bar
//
// 1, 3, 0, 1 -> save and restore Find&Replace settings from the registry.
//               improve algorithm used for word wrap + status bar
//				 make goto dialog work with word wrap
//               fix bug with tab width setting + word wrap/status bar
//               eliminate flicker during window resize (spurious InvalidateRect call)
//				 reduce status bar flicker during window resize (WS_EX_COMPOSITED)
//               disable all find/replace and goto menu items when no text in the notepad
//               implement Ctrl+Shift+N shortcut & menu item for new window
//               make new notepad windows open cascaded
//               
// Note: PRODUCTVERSION == FILEVERSION
1 VERSIONINFO
	FILEVERSION 1, 3, 0, 1
	PRODUCTVERSION 1, 3, 0, 1
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo" {
		BLOCK "040904B0" {
			VALUE "Comments", "https://github.com/vxiiduu/NotepadEx"
			VALUE "FileDescription", "Notepad"
			VALUE "FileVersion", "1.3.0.1"
			VALUE "InternalName", "Notepad"
			VALUE "LegalCopyright", "https://github.com/vxiiduu/NotepadEx"
			VALUE "OriginalFilename", "NOTEPAD.EXE"
			VALUE "ProductName", "NotepadEx"
			VALUE "ProductVersion", "1.3.0.1"
		}
	}

	BLOCK "VarFileInfo" {
		VALUE "Translation", 0x0411 0x04B0
	}
END

ID_ICON    ICON PRELOAD DISCARDABLE     notepad.ico

ID_MENUBAR  MENU PRELOAD DISCARDABLE
BEGIN
    POPUP   "ファイル(&F)"
        BEGIN
            MENUITEM    "新規(&N)\tCtrl+N",							M_NEW
			MENUITEM	"新しいウィンドウ(&W)\tCtrl+Shift+N",			M_NEWWIN
            MENUITEM    "開く(&O)...\tCtrl+O",						M_OPEN
            MENUITEM    "上書き保存(&S)\tCtrl+S",						M_SAVE
            MENUITEM    "名前を付けて保存(&A)...\tCtrl+Shift+S",			M_SAVEAS
            MENUITEM    SEPARATOR
            MENUITEM    "ページ設定(&U)...",						M_PAGESETUP
            MENUITEM    "印刷(&P)...\tCtrl+P",					M_PRINT
            MENUITEM    SEPARATOR
            MENUITEM    "メモ帳の終了(&X)",								M_EXIT
        END

    POPUP   "編集(&E)"
        BEGIN
            MENUITEM    "元に戻す(&U)\tCtrl+Z",        M_UNDO
            MENUITEM    SEPARATOR
            MENUITEM    "切り取り(&T)\tCtrl+X",         M_CUT ,  GRAYED
            MENUITEM    "コピー(&C)\tCtrl+C",        M_COPY,  GRAYED
            MENUITEM    "貼り付け(&P)\tCtrl+V",       M_PASTE, GRAYED
            MENUITEM    "削除(&L)\tDel",         M_CLEAR, GRAYED
            MENUITEM    SEPARATOR
            MENUITEM    "検索(&F)...\tCtrl+F",     M_FIND
            MENUITEM    "次を検索(&N)\tF3",       M_FINDNEXT
			MENUITEM	"Find Pre&vious\tShift+F3", M_FINDPREVIOUS
            MENUITEM    "置換(&R)...\tCtrl+H",  M_REPLACE
/*
            The hotkey used for replace is CTRL-H in most of the editors, and hence though 
            this key may conflict with backspace key in IMEs, this key is used here to be compatible
            with all the editors. Please contact ChrisW/RajeshM for more details.
*/
            MENUITEM    "行へ移動(&G)...\tCtrl+G",    M_GOTO
            MENUITEM    SEPARATOR
            MENUITEM    "すべて選択(&A)\tCtrl+A",  M_SELECTALL
            MENUITEM    "日付と時刻(&D)\tF5",       M_DATETIME
        END

    POPUP   "書式(&O)"
        BEGIN
            MENUITEM    "右端で折り返す(&W)"      M_WW
            MENUITEM    "フォント(&F)...",       M_SETFONT

			POPUP		"タブ文字の幅(&T)"
				BEGIN
					MENUITEM	"&2"		M_TW2
					MENUITEM	"&4"		M_TW4
					MENUITEM	"&8"		M_TW8
				END
        END

    POPUP   "表示(&V)"
        BEGIN
            MENUITEM "ステータス バー(&S)",             M_STATUSBAR
        END

    POPUP "ヘルプ(&H)"
        BEGIN
            MENUITEM     "トピックの検索(&H)",  M_HELP
            MENUITEM     SEPARATOR
            MENUITEM     "バージョン情報(&A)",M_ABOUT
        END

END

MainAcc ACCELERATORS PRELOAD DISCARDABLE
BEGIN
    "N",       M_NEW,      VIRTKEY, CONTROL
	"N",	   M_NEWWIN,   VIRTKEY, CONTROL, SHIFT
    "O",       M_OPEN,     VIRTKEY, CONTROL
    "S",       M_SAVE,     VIRTKEY, CONTROL
	"S",       M_SAVEAS,   VIRTKEY, CONTROL, SHIFT
    "P",       M_PRINT,    VIRTKEY, CONTROL
    VK_INSERT, M_COPY,     VIRTKEY, CONTROL
    VK_F1,     M_HELP,     VIRTKEY
    VK_F3,     M_FINDNEXT, VIRTKEY
	VK_F3,	   M_FINDPREVIOUS, VIRTKEY, SHIFT
    VK_F5,     M_DATETIME, VIRTKEY
    "G",       M_GOTO,     VIRTKEY, CONTROL
    "F",       M_FIND    , VIRTKEY, CONTROL, NOINVERT
    "H",       M_REPLACE,  VIRTKEY, CONTROL, NOINVERT
    VK_BACK,   M_UNDO,     VIRTKEY, ALT
    "Z",       M_UNDO,     VIRTKEY, CONTROL
    "X",       M_CUT,      VIRTKEY, CONTROL
    "C",       M_COPY,     VIRTKEY, CONTROL
    "V",       M_PASTE,    VIRTKEY, CONTROL
    "A",       M_SELECTALL,VIRTKEY, CONTROL
END

/* Allow exit using ^C, ^D or ^Z during Setup */
SlipUpAcc ACCELERATORS PRELOAD DISCARDABLE
BEGIN
    "N",       M_NEW,      VIRTKEY, CONTROL
    "O",       M_OPEN,     VIRTKEY, CONTROL
    "S",       M_SAVE,     VIRTKEY, CONTROL
    "P",       M_PRINT,    VIRTKEY, CONTROL
    VK_INSERT, M_COPY,     VIRTKEY, CONTROL
    VK_F1,     M_HELP,     VIRTKEY
    VK_F3,     M_FINDNEXT, VIRTKEY
	VK_F3,	   M_FINDPREVIOUS, VIRTKEY, SHIFT
    VK_F5,     M_DATETIME, VIRTKEY
    "G",       M_GOTO,     VIRTKEY, CONTROL
    "F",       M_FIND,     VIRTKEY, CONTROL, NOINVERT
    "H",       M_REPLACE,  VIRTKEY, CONTROL, NOINVERT
    VK_BACK,   M_UNDO,     VIRTKEY, ALT
    "Z",       M_UNDO,     VIRTKEY, CONTROL
    "X",       M_CUT,      VIRTKEY, CONTROL
    "C",       M_COPY,     VIRTKEY, CONTROL
    "V",       M_PASTE,    VIRTKEY, CONTROL
    "A",       M_SELECTALL,VIRTKEY, CONTROL
    VK_ESCAPE, M_EXIT,     VIRTKEY
    0x43,      M_EXIT,     VIRTKEY, CONTROL
    0x44,      M_EXIT,     VIRTKEY, CONTROL
    0x5A,      M_EXIT,     VIRTKEY, CONTROL
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_MERGE1       "%%"
    IDS_DISKERROR   "ファイル %% を開くことができません。\n\n指定したドライブにディスクがあるか確認してください。"
    IDS_FNF         "ファイル %% が見つかりません。\n\n新しく作成しますか?"
    IDS_SCBC        "ファイル %% の内容は変更されています。\n\n変更を保存しますか?"
    IDS_UNTITLED    "無題"
    IDS_NOTEPAD     " - メモ帳"
    IDS_CFS         """%%"" が見つかりません。"
    /* The following is a generic out of memory message which can also be
       system modal so no /n can appear in it. */
    IDS_ERRSPACE    "メモリ不足のためこの操作を実行できません。Windows アプリケーションをいくつか終了して空きメモリ領域を増やしてから、再実行してください。"
    IDS_FTL         "ファイル %% は大きすぎてメモ帳では編集できません。\n\n別のエディタを使って編集してください。"
    IDS_NN          "メモ帳"
    IDS_COMMDLGINIT "ファイルのダイアログを初期化できませんでした。ファイル名を変更してやり直してください。"
    IDS_PRINTDLGINIT "印刷のダイアログを初期化できませんでした。プリンタが正しく接続されていることを確認してから、コントロール パネルを使ってプリンタが正しく構成されていることを確認してください。"
    IDS_CANTPRINT   "ファイル %% を印刷できません。プリンタの接続を確認してください。また、コントロール パネルでプリンタの構成を確認してください。"
    IDS_NVF         "ファイル名が無効です。"
    IDS_CREATEERR   "ファイル %% を作成できません。\n\nパスおよびファイル名が正しいか確認してください。"
    IDS_NOWW        "ファイル中の文字が多すぎるため、[右端で折り返す] コマンドを実行できません。"
    IDS_HELPFILE    "notepad.hlp"
    IDS_HEADER      "&f"
    IDS_FOOTER      "ページ(&P)"

    IDS_ACCESSDENY  "%%\nこのファイルを開くためのアクセス許可がありません。このファイルの所有者または管理者に問い合わせてアクセス許可を取得してください。"


    IDS_ANSITEXT    "テキスト文書 (*.txt)" /* filter text for File/Open */
    IDS_ALLFILES    "すべてのファイル "   /* filter text for File/Open  */
    IDS_OPENCAPTION "開く"      /* title for file/open dialog */
    IDS_SAVECAPTION "名前を付けて保存"   /* title for file/save dialog */
    IDS_CANNOTQUIT  "メモ帳の [名前を付けて保存] ダイアログ ボックスが開かれているため、\nWindows を終了できません。メモ帳に切り替えてダイアログ ボックスを\n閉じてから、やり直してください。"
    IDS_LOADDRVFAIL "プリンタにアクセスできません。\nプリンタが正しく接続されているか確認してください。プリンタが適切に構成されているか確認するには、コントロール パネルを使用してください。"
    IDS_ERRUNICODE  "%%\n このファイルは、ANSI テキスト ファイルとして保存すると失われてしまう Unicode 形式の文字を含んでいます。Unicode の情報を保存するには、下の [キャンセル] をクリックし、[文字コード] から [Unicode] を選択してください。続行しますか?"
    IDS_FONTTOOBIG  "1 行の長さに対して、ページ サイズが小さすぎます。\nより小さいフォントを使って印刷してみてください。"
    IDS_COMMDLGERR  "コモン ダイアログ エラー (0x%04x)"

    IDS_LINEERROR    "メモ帳 - 行に移動"
    IDS_LINETOOLARGE "行番号が範囲外です"

    IDS_FT_ANSI      "ANSI"
    IDS_FT_UNICODE   "Unicode"
    IDS_FT_UNICODEBE "Unicode big endian"
    IDS_FT_UTF8      "UTF-8"

    IDS_CURRENT_PAGE "ページ %d"  /* don't change %d; used for printf formatting */

    IDS_LINECOL          "   %d 行、%d 列  "
    IDS_COMPRESSED_FILE  " 圧縮、"
    IDS_ENCRYPTED_FILE   " 暗号化、"
    IDS_HIDDEN_FILE      " 非表示、"
    IDS_OFFLINE_FILE     " オフライン、"
    IDS_READONLY_FILE    " 読み取り専用、"
    IDS_SYSTEM_FILE      " システム、"
    IDS_FILE             " ファイル"

    /* Use by MUI, not notepad.  See hivecls.inx for reference */

    IDS_TEXT_FRIENDLY_NAME  "テキスト ドキュメント"

    /*  IDS_LETTERS     "fFpPtTdDcCrRlL"   Original US values.  This does get translated! */
    /*                  The order is: File, Page, Time, Date, Center, Right, Left         */

    IDS_LETTERS     "fFpPtTdDcCrRlL"

	IDS_LT_WINDOWS   "   Windows (CRLF)  "
	IDS_LT_UNIX		 "   Unix (LF)  "
END

/* Include other dialogs. */
rcinclude notepad.dlg
